/* :root {
    --md-primary-fg-color: #ff003a;
    --md-primary-fg-color--light: #ff8095;
    --md-primary-fg-color--dark: #c2002e;
} 

@media screen {
    [data-md-color-scheme=slate] {
        --md-default-bg-color: #111;
    }
}
*/

iframe {
    border-radius: 0.5rem;
}

.ratio21 {
    height: auto;
    width: 100%;
    aspect-ratio: 2 / 1;
}

.md-typeset h1 {
    color: inherit;
}

.md-typeset h1, .md-typeset h2 {
    font-weight: bolder;
}

.md-typeset .admonition,
.md-typeset details {
  border-width: 0;
  border-left-width: 4px;
}

/* Cache les tabs en attendant le JS pour les retirer du DOM  */
.md-container > .md-tabs {
    display: none;
}

/* Retirer l'event click du lien logo avant que le JS le retire du DOM */
.md-header__button.md-logo {
    pointer-events: none;
}

.md-header__button.md-logo {
    cursor: default;
}

.md-footer {
    margin-top: 2rem;
    background-color: transparent;
}

.md-footer-meta {
    background-color: transparent;
}

.md-copyright {
    width: 100%;
    text-align: center;
}

.md-copyright__highlight {
    color: var(--md-typeset-color);
    font-size: 0.5rem;
}

html .md-footer-meta.md-typeset a {
    color: var(--md-typeset-color);
    text-decoration: underline;
}

html .md-footer-meta.md-typeset a:hover {
    color: var(--md-primary-fg-color);
}

#result-box,
#result-box iframe {
    background-color: transparent;
}
