@font-face {
    font-family: 'OpenDyslexic';
    src: url('./fonts/opendyslexic/OpenDyslexic2-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('./fonts/opendyslexic/OpenDyslexic2-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('./fonts/opendyslexic/OpenDyslexic2-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('./fonts/opendyslexic/OpenDyslexic2-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

/* @font-face {
    font-family: 'OpenDyslexic Mono';
    src: url('./fonts/opendyslexic/OpenDyslexicMono-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
} */

body {
    transition: font-family 0.3s;
}

/* Colors */

.text-primary {
    color: var(--md-primary-fg-color);
}

.text-success {
    color: var(--md-code-hl-string-color);
}

.text-danger {
    color: var(--md-code-hl-number-color);
}

.text-warning {
    color: var(--md-warning-bg-color);
}

.text-muted {
    color: var(--md-accent-fg-color--transparent);
}


/* Tables */
.md-typeset__table {
    display: block;
}

.md-typeset table:not([class]) {
    display: table;
}

/* Iframe */
iframe {
    border-radius: 0.1rem;
}

/* Images */
img {
    border-radius: .25rem;
}

body[data-md-color-scheme="slate"] img.invert {
    filter: invert(0.9);
}

/* Proportions des conteneurs */
.aspect-1-1 {
    height: auto;
    width: 100%;
    aspect-ratio: 1 / 1;
    /* pointer-events: none; */
}

.aspect-3-1 {
    height: auto;
    width: 100%;
    aspect-ratio: 3 / 1;
}

.aspect-4-3 {
    height: auto;
    width: 100%;
    aspect-ratio: 4 / 3;
}

.aspect-3-2 {
    height: auto;
    width: 100%;
    aspect-ratio: 3 / 2;
}

.aspect-16-9 {
    height: auto;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.aspect-2-1 {
    height: auto;
    width: 100%;
    aspect-ratio: 2 / 1;
}

.aspect-4-1 {
    height: auto;
    width: 100%;
    aspect-ratio: 4 / 1;
}

/* Méthode approximative pour inclure le header et footer codepen dans l'Aspect Ratio CSS */
.aspect-2-1-tabbed {
    height: auto;
    width: 100%;
    aspect-ratio: 800 / calc(400 + 50 + 30 + 10);
}

/* Liens étendus */
a.stretched-link {
    color: var(--md-typeset-color);
}

.stretched-link:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
}

/* Titres */
.md-typeset h1,
.md-typeset h2 {
    font-weight: bolder;
}

.md-typeset h1 {
    color: inherit;
}

.md-typeset h2 {
    border-top: 3px solid var(--md-code-bg-color);
    padding-top: 1.6rem;
}

/* Admonitions et détails */
.md-typeset .admonition,
.md-typeset details {
    border-width: 0;
    border-left-width: 4px;
}

/* Animation d'icone */
.md-typeset .mdx-pulse {
    animation: new 2s infinite
}
@keyframes new {
    0%,to {
        transform: scale(1) rotate(0deg)
    }

    50% {
        transform: scale(1.15) rotate(10deg)
    }
}

/* Grille */
.md-typeset .grid {
    grid-gap: .4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 16rem), 1fr));
    margin: 1em 0;
    position: relative;
    align-items: center;
}

.md-typeset .grid.grid-1-2 {
    grid-gap: 1.2rem;
    grid-template-columns: 1fr;
    padding: 0.4rem;
    border-radius: .2rem;
    background-color: var(--md-code-bg-color);
}

.md-typeset .grid.grid-1-2 img {
    display: block;
}

@media (min-width: 576px) {
    .md-typeset .grid.grid-1-2 {
        grid-template-columns: 1fr 2fr;
    }
}

.md-typeset .grid-auto {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.2rem;
    margin: 1em 0;
    position: relative;
    align-items: center;
    padding: 0.4rem;
    border-radius: .2rem;
    background-color: var(--md-code-bg-color);
}

.md-typeset .grid-auto img {
    display: block;
}

@media (min-width: 576px) {
    .md-typeset .grid-auto {
        grid-template-columns: auto 1fr;
    }
}

.md-typeset .grid.cards>ol,
.md-typeset .grid.cards>ul {
    display: contents;
}

.md-typeset .grid.cards>ol>li,
.md-typeset .grid.cards>ul>li,
.md-typeset .grid>.card {
    border: .05rem solid var(--md-default-fg-color--lightest);
    border-radius: .1rem;
    display: block;
    margin: 0;
    padding: .8rem;
    transition: border .25s, box-shadow .25s;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: start;
    height: 100%;
}

.md-typeset .grid.cards {
    display: flex;
    align-items: stretch;
    gap: 1rem;
}

.md-typeset .grid.cards>ol>li:focus-within,
.md-typeset .grid.cards>ol>li:hover,
.md-typeset .grid.cards>ul>li:focus-within,
.md-typeset .grid.cards>ul>li:hover,
.md-typeset .grid>.card:focus-within,
.md-typeset .grid>.card:hover {
    border-color: #0000;
    box-shadow: var(--md-shadow-z2);
}

.md-typeset .grid.cards>ol>li>hr,
.md-typeset .grid.cards>ul>li>hr,
.md-typeset .grid>.card>hr {
    margin-bottom: 1em;
    margin-top: 1em;
}

.md-typeset .grid.cards>ol>li>:first-child,
.md-typeset .grid.cards>ul>li>:first-child,
.md-typeset .grid>.card>:first-child {
    margin-top: 0;
}

.md-typeset .grid.cards>ol>li>:last-child,
.md-typeset .grid.cards>ul>li>:last-child,
.md-typeset .grid>.card>:last-child {
    margin-bottom: 0;
}

.md-typeset .grid>*,
.md-typeset .grid>.admonition,
.md-typeset .grid>.highlight>*,
.md-typeset .grid>.highlighttable,
.md-typeset .grid>.md-typeset details,
.md-typeset .grid>details,
.md-typeset .grid>pre {
    margin-bottom: 0;
    margin-top: 0;
}

.md-typeset .grid>.highlight>pre:only-child,
.md-typeset .grid>.highlight>pre>code,
.md-typeset .grid>.highlighttable,
.md-typeset .grid>.highlighttable>tbody,
.md-typeset .grid>.highlighttable>tbody>tr,
.md-typeset .grid>.highlighttable>tbody>tr>.code,
.md-typeset .grid>.highlighttable>tbody>tr>.code>.highlight,
.md-typeset .grid>.highlighttable>tbody>tr>.code>.highlight>pre,
.md-typeset .grid>.highlighttable>tbody>tr>.code>.highlight>pre>code {
    height: 100%;
}

.md-typeset .grid>.tabbed-set {
    margin-bottom: 0;
    margin-top: 0;
}

/* Cache les tabs en attendant le JS pour les retirer du DOM */
.md-container>.md-tabs {
    display: none;
}

/* Retirer l'event click du lien logo avant que le JS le retire du DOM */
.md-header__button.md-logo {
    pointer-events: none;
    cursor: default;
}

/* Pied de page */
.md-footer {
    margin-top: 2rem;
    background-color: transparent;
}

.md-footer-meta {
    background-color: transparent;
}

.md-copyright {
    width: 100%;
    text-align: center;
}

.md-copyright__highlight {
    color: var(--md-typeset-color);
    font-size: .64rem;
}

html .md-footer-meta.md-typeset a {
    color: var(--md-typeset-color);
    text-decoration: underline;
}

html .md-footer-meta.md-typeset a:hover {
    color: var(--md-primary-fg-color);
}

/* Boîte de résultats */
#result-box,
#result-box iframe {
    background-color: transparent;
}

/* Indicateurs de liste de tâches */
[dir=ltr] .md-typeset .task-list-indicator:before {
    left: -2.25em;
    cursor: pointer;
}

[dir=ltr] .md-typeset .task-list-indicator:hover:before {
    background-color: var(--md-default-fg-color--lighter);
}

.md-typeset [type=checkbox]:checked+.task-list-indicator:hover:before {
    background-color: #00e676;
}

[dir=ltr] .md-typeset ol li,
[dir=ltr] .md-typeset ul li {
    margin-left: 1.825em;
}

[dir=ltr] .md-typeset .task-list-item [type=checkbox] {
    left: -3em;
}

/* Feux d'artifice */
#fireworks {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Codepen open link */

a.codepen-open {
    display: block;
    text-align: center;
    font-size: .64rem;
}